.App {
  text-align: center;
}



h1,
p {
  font-family: Lato;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: solid 2px gray;
  width: 500px;
  height: 500px;
  max-height: 80vw;
  max-width: 80vw;
  gap: 10px;
  padding: 10px;
  touch-action: 'none';
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: grey;
  /* border: solid 2px; */
  color: white;
  font-size: 2em;
  touch-action: 'none';
}

.cell.hover {
  background-color: red;
}

.highlighted-word{
  background-color:green;
}

